@import "tailwindcss";

@theme {
  --color-clara-50: #F4F9F5;
  --color-fundo-100: #D5E8D4;
  --color-brand-200: #A8D5BA;
  --color-brand-300: #6BBF9A;
  --color-brand-400: #4DAF7C;
  --color-brand-500: #2C7A5D;
  --color-brand-600: #23624A;
  --color-letra-700: #1A4A38;
}